<!DOCTYPE html>
<html>

<header>WORD COUNTER</header>


<div id="form">
<%= form_for(:text_body, class: "topBefore", as: "post", url: counter_set_words_quantity_path) do |f| %>
  <%= f.text_area :text,  value: @text_body, placeholder: 'PLACE YOUR TEXT HERE', required: true %>
    <%= f.submit class: "submit", type: "submit", id: "submit", value: "GO!" %>
<% end %>
  </div>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>
</form>
</body>
</html>
